<div class="card w-96 bg-base-100 font-bold shadow-xl">
  <div class="card-body">
    <h1 class='text-center'><%= shop.address %></h1>
    <div><%= render 'shop_map', shop: shop %></div>
    <div class="card-actions justify-center">
      <%= button_to (t'defaults.delete'), rodging_shop_path(id: shop), method: :delete, class:"btn btn-primary" %>
    </div>
  </div>
</div>

