<div class="map-directions my-5">
  <div id="map" style="width:370px; height:400px" class="mt-3 mb-3"></div>
  <%= button_tag "現在位置からルート検索", id: "btn-search", class: "btn btn-primary mb-3", onclick: "search()" %>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>"></script>
<%= javascript_include_tag 'directions_google_map'%>
