<div class="flex flex-col items-center">
  <div class="card w-80 h-auto bg-slate-200 shadow-xl my-5">
    <div class="card-body">
      <div class="flex flex-wrap">
        <div class='w-1/2'>
          <div class='card-title mb-3'>ステップ１</div>
          <div class='text-sm leading-loose'>
            <p>宿泊先名</p>
            <p>旅行日時</p>
            <p>お土産購入日</p>
            <p>この3つを登録しましょう！</p>
          </div>
        </div>
        <div class='w-1/2'>
          <%= image_tag 'cac11d9eb9235f0138f97511201a5694.png', class: 'ml-3'%>
        </div>
      </div>
    </div>
  </div>
  <div class="card w-80 h-auto bg-slate-200 shadow-xl my-5">
    <div class="card-body">
      <div class="flex flex-wrap">
        <div class='w-1/2'>
          <div class='card-title mb-3'>ステップ２</div>
          <div class='text-sm leading-loose'>
            <p>購入したいお土産を検索し、保存ボタンクリックすることで保存します。</p>
          </div>
        </div>
        <div class='w-1/2'>   
          <%= image_tag '74cad64841246c31ccc2219892fe31c3.png', class: 'ml-3'%> 
        </div>
      </div>
    </div>
  </div>
  <div class="card w-80 h-auto bg-slate-200 shadow-xl my-5">
    <div class="card-body">
      <div class="flex flex-wrap">
        <div class='w-1/2'>
          <div class='card-title mb-3'>ステップ３</div>
          <div class='text-sm leading-loose'>
            <p>店舗を追加したい</p>
            <p class='mb-5'>→「店舗を追加する」をクリック</p>
            <p>保存した店舗のルート検索をしたい</p>
            <p>→「道案内画面へ」をクリック</p>
          </div>
        </div>
        <div class='w-1/2'>
          <%= image_tag 'f60c5525d5ea1106922bf8cd859cb355.png', class: 'ml-3'%>
        </div>
      </div>
    </div>
  </div>
  <div class="card w-80 h-auto bg-slate-200 shadow-xl my-5">
    <div class="card-body">
      <div class="flex flex-wrap">
        <div class='w-1/2'>
          <div class='card-title mb-3'>ステップ４</div>
          <div class='text-sm leading-loose'>
            <p>「現在位置からルート検索」ボタンをクリックすることで現在位置から保存した店舗を経由して登録した宿泊施設までのルートをマップに表示します。</p>
          </div>
        </div>
        <div class='w-1/2'>
          <%= image_tag '8f60ea4ca88bc8344b7abdba215e1bce.png', class: 'ml-3'%>   
        </div>
      </div>
    </div>
  </div>
</div>
