<header>
  <div class="navbar bg-neutral text-base-100">
    <div class="flex-1">
      <%= link_to "お土産案内さん", "/", class: "btn btn-ghost normal-case text-xl" %>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal p-0">
        <li><%= link_to "新規登録", new_users_path %></li>
        <li><%= link_to "ログイン", "#"%></li>
      </ul>
    </div>
  </div>
</header>
