<footer class="footer footer-center p-4 bg-neutral  text-base-content text-base-100">
  <div>
    <p>Copyright © 2022 - お土産案内さん</p>
  </div>
  <div>
    <%= link_to "お問合せ", "#" %>
    <%= link_to "プライバシーポリシー", "#" %>
    <%= link_to "利用規約", "#" %>
  </div>
</footer>
