<footer class="footer footer-center p-4 bg-base-100  text-base-content text-base-100">
  <div>
    <p>Copyright © 2022 - お土産案内さん</p>
  </div>
  <div>
    <%= link_to t('defaults.inquiry'), "#" %>
    <%= link_to t('defaults.privacy_policy'), "#" %>
    <%= link_to t('defaults.terms_of_service'), "#" %>
  </div>
</footer>
