<footer class="footer footer-center p-10 bg-base-100 text-base-content rounded">
  <div class="grid grid-flow-col gap-4">
    <%= link_to t('defaults.inquiry'), "#", class: 'link link-hover' %>
    <%= link_to t('defaults.privacy_policy'), "#", class: 'link link-hover' %>
    <%= link_to t('defaults.terms_of_service'), "#", class: 'link link-hover' %>
  </div> 
  <div>
    <p>Copyright © 2022 - お土産案内さん</p>
  </div>
</footer>
