<% content_for(:title, t('.title')) %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>"></script>
<div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3 mt-5 mb-5">
  <% if @rodgings.present? %>
    <%= render @rodgings %>
  <% else %>
    <div class="card w-80 bg-base-100 shadow-xl my-10">
      <div class="card-body items-center text-center my-48">
        <h1>宿泊先が登録されていません</h1>
      </div>
    </div>
  <% end %>
</div>
 