<div class="flex justify-around flex-wrap">
  <%= render @rodgings %>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"></script>
